#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.panel {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(210, 181, 140);
  opacity: 0.7;
}
