:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('assets/sheet-music.jpg');
  background-size: cover;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-top: 0px;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #686877;
}
